.main_edit{margin:50px 400px;}
.main_add{margin: 50px 150px;}
.main_request{margin: 50px 150px;}
.edit_btn{color: cadetblue;}
.my-alert{
      opacity: 1;
      transition: opacity 2s linear 3s; /* 3s後に開始し、2sかけてフェードアウト */
    }